{% set pages = ({"Admin": url_for('admin_page'), "About me": url_for('about_page'),
"Skills": url_for('skills_page'), "Contacts": url_for('contacts_page'), 
"Todo": url_for('todos'), "Feedbacks": url_for('feedbacks'),"Users": url_for('users')})	%}

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Lab8</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        {% for key, value in pages.items() %}
          <li class="nav-item">
            <a class="nav-link" href="{{value}}">{{key}}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('account')}}">Account</a>
          </li>
          <li class="nav-item">
            <form action="{{url_for('logout')}}" method="post">
              <button  class="nav-link" type="submit">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('register')}}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>