{% extends "base.html" %}
{% from "_render-field.html" import render_field %}
{% block title %}Feedbacks{% endblock %}
{% block content %}
    <section class="top mt-5 ">
        <h1>Feedback form</h1>
        <form class="" action="{{url_for('feedbacks')}}" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="row">
                <div class="form-section">
                    <div class="form-group">
                        {{ render_field(form.topic, class="form-control") }}
                    </div>
        
                    <div class="form-group mt-3">
                        {{ render_field(form.text, class="form-control") }}
                    </div>
                </div>
                <div class="form-section">
                    <div class="form-group">
                        {{ render_field(form.email, class="form-control") }}
                    </div>
                    <div class="form-group mt-3 rating">
                        <label>Rating</label>
                        {{ render_field(form.mark) }}
                    </div>
                </div>
            </div>
            <div class="form-group mt-4 ">
                {{ render_field(form.submit, class="btn btn-primary") }}
            </div>
      </form>
    </section>
    <p class="text-end">Total: {{feedbacks|length}}</p>
    <section class="list mt-5">
        {% for feedback in feedbacks %}
            <div class="card mt-2" style="width: 80%; margin:0 auto">
                <div class="card-body" >
                    <div style="display: flex; justify-content: space-between;">
                        <h4 class="card-title">{{feedback.topic}}</h4>
                        <div>Rating: {{feedback.mark}}</div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{feedback.user_email}}</h6>
                    <p class="card-text">{{feedback.text}}</p>
                    <p class="card-subtitle mb-2 text-muted">{{feedback.date.strftime('%Y-%m-%d %H:%M:%S')}}</p>
                    <a class="card-link" href="{{url_for('delete_feedback', id=feedback.id)}}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}